.main_footer{
    width: 100vw;
    height: 200px;
    margin-top: 50px;
    background-color: var(--purple);
    display: flex;
    flex-direction: row;
    color: white;
}

.footer_left{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_logo{
    margin: 0 10px;
  top: 5px;
  height: 60px;
  width: 60px;
  object-fit: contain;
  background-image: url(../../Assests/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Footer_social{
    margin: 10px;
}

.Footer_social a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0px 10px;
    cursor: pointer;
    opacity: 0.8;
}

.Footer_social a:hover{
    opacity: 1;
}

.footer_right{
    width: 70%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.footer_right li{
    margin: 5px 0px;
    opacity: 0.8;
    cursor: pointer;
}

.footer_right li:hover{
    opacity: 1;
}

.search-input input {
    width: 300px;
    margin-top: 5px;
    padding: 8px 12px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    /* border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
    color: white;
  }

.search-input span{
    position: relative;
    top: 6px;
    left: -27px;
    font-size: 20px;
    cursor: pointer;
}
