* {
  --purple: rgb(98, 75, 225);
  --yellow: rgb(255, 223, 4);
}

html{
    scroll-behavior:smooth;
  }
  
  body{
    -ms-overflow-style: none;
  }
  
  body::-webkit-scrollbar{
    display: none;
  }
  
  